@{
    ViewData["Title"] = "AV1";
}

<div class="text-center">
    <h1 class="display-4">AV1 Tecnicas de Programação- </h1>
    <p>Aluno: Gabriel Melo dos Santos</a>.</p>
    <p>RA: 922106395</a>.</p>
</div>
